*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body{
  display: grid;
  place-items: left;
  min-height: 100vh;
  background-color: #636c35;
}

.avatar{
  width: 200px;
  aspect-ratio: 1;
  overflow: 1;
  border-radius: 50%;
}

.avatar img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
